<link rel="stylesheet" href="/public/css/Home.css" media="screen">
        <a href="/" class="u-image u-logo u-image-1">
          <img src="/public/images/LogoMakr-1fIWAw.png" class="u-logo-image u-logo-image-1" data-image-width="99.3104">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
            <a class="u-active-white u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-grey-40 u-text-hover-grey-40" href="#">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-0 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-active-white u-button-style u-nav-link u-text-active-grey-40 u-text-hover-grey-40" href="/" style="padding: 10px 20px;">home</a>
</li><li class="u-nav-item"><a class="u-active-white u-button-style u-nav-link u-text-active-grey-40 u-text-hover-grey-40" href="/login" style="padding: 10px 20px;">Login</a>
</li><li class="u-nav-item"><a class="u-active-white u-button-style u-nav-link u-text-active-grey-40 u-text-hover-grey-40" href="/registration" style="padding: 10px 20px;">Register</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/" style="padding: 10px 20px;">home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/login" style="padding: 10px 20px;">Login</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/registration" style="padding: 10px 20px;">Register</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-clearfix u-image u-section-1" id="carousel_9cd9">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-palette-5-dark-3 u-text-1">Rolaren LLC</h1>
        <h5 class="u-text u-text-palette-5-dark-3 u-text-2">THE MWBE STRATEGY CONSULTING FIRM</h5>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="carousel_5c3f">
      <div class="u-clearfix u-sheet u-valign-bottom-md u-valign-bottom-sm u-sheet-1">
        <div class="u-palette-5-base u-shape u-shape-rectangle u-shape-1"></div>
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <p class="u-custom-font u-heading-font u-text u-text-1">Rolaren is a New York based MWBE strategy firm that provides high quality consulting resources capable of adding value on any client and any project. Our leadership team has:</p>
                  <ul class="u-custom-font u-font-roboto u-text u-text-2">
                    <li>Consulting experience having worked at Diamond Management and Technology Consultants, PricewaterhouseCoopers, and Booz &amp; Company.<br>
                    </li>
                    <li>Industry experience having been employed at Bridgewater Associates, New York State Department of Financial Services, The Walt Disney Company, and General Mills.</li>
                  </ul>
                  <div class="u-container-style u-group u-image u-image-tiles u-image-1">
                    <div class="u-container-layout u-container-layout-2"></div>
                  </div>
                  <div class="u-palette-5-light-2 u-shape u-shape-rectangle u-shape-2"></div>
                  <img src="/public/images/as.jpg" alt="" class="u-image u-image-default u-image-2">
                  <ul class="u-custom-font u-font-roboto u-text u-text-3">
                    <li>Public Sector experience with clients at the Federal, State and Municipal levels. Examples include Metropolitan Transportation Authority of New York, NYC Parks and Recreation, NYS Department of Tax and Finance, and the Department of Health and Human Services.<br>
                    </li>
                    <li>Private Sector experience with clients in a wide breadth of industries including Finance, Insurance, Consumer Package Goods, Travel, Education, and Entertainment. Examples include Morgan Stanley, Goldman Sachs, CIGNA, Pitney Bowes, Allstate, University of Phoenix, and Southwest Airlines.<br>
                    </li>
                  </ul>
                  <h1 class="u-custom-font u-font-roboto u-text u-text-4">WHO WE ARE?</h1>
                  <div class="u-align-center u-container-style u-group u-palette-5-light-2 u-shape-rectangle u-group-2">
                    <div class="u-container-layout u-valign-middle u-container-layout-3">
                      <h4 class="u-custom-font u-text u-text-5">Nathan Harris<br>Owner
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-section-3" id="carousel_ca7f" data-image-width="1280" data-image-height="819">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">pUBLIC SECTOR EXPERIENCE</h2>
        <div class="u-clearfix u-expanded-width u-gutter-12 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-col">
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-align-center u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-1">
                    <div class="u-container-layout u-container-layout-1">
                      <img src="/public/images/5.png" alt="" class="u-image u-image-contain u-image-default u-image-1">
                    </div>
                  </div>
                  <div class="u-align-center u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-2">
                    <div class="u-container-layout u-container-layout-2">
                      <img src="/public/images/3.png" alt="" class="u-image u-image-contain u-image-default u-image-2">
                    </div>
                  </div>
                  <div class="u-align-center u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-3">
                    <div class="u-container-layout u-container-layout-3">
                      <img src="/public/images/4.png" alt="" class="u-image u-image-contain u-image-default u-image-3">
                    </div>
                  </div>
                  <div class="u-align-center u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-4">
                    <div class="u-container-layout u-valign-middle u-container-layout-4">
                      <img src="/public/images/2.png" alt="" class="u-image u-image-contain u-image-default u-image-4">
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-align-center u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-5">
                    <div class="u-container-layout u-valign-middle u-container-layout-5">
                      <img src="/public/images/6.png" alt="" class="u-image u-image-contain u-image-default u-image-5">
                    </div>
                  </div>
                  <div class="u-align-left u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-6">
                    <div class="u-container-layout u-valign-top u-container-layout-6">
                      <img src="/public/images/4.png" alt="" class="u-image u-image-contain u-image-default u-image-6">
                    </div>
                  </div>
                  <div class="u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-7">
                    <div class="u-container-layout u-valign-middle u-container-layout-7">
                      <img src="/public/images/3.png" alt="" class="u-image u-image-contain u-image-default u-image-7">
                    </div>
                  </div>
                  <div class="u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-8">
                    <div class="u-container-layout u-valign-middle u-container-layout-8">
                      <img src="/public/images/5.png" alt="" class="u-image u-image-contain u-image-default u-image-8">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h2 class="u-text u-text-default u-text-2">PRIVATE SECTOR EXPERIENCE</h2>
        <div class="u-clearfix u-expanded-width u-gutter-12 u-layout-wrap u-layout-wrap-2">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-col">
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-align-center u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-9">
                    <div class="u-container-layout u-valign-middle u-container-layout-9">
                      <img src="/public/images/5.png" alt="" class="u-image u-image-contain u-image-default u-image-9">
                    </div>
                  </div>
                  <div class="u-align-center u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-10">
                    <div class="u-container-layout u-valign-middle u-container-layout-10">
                      <img src="/public/images/3.png" alt="" class="u-image u-image-contain u-image-default u-image-10">
                    </div>
                  </div>
                  <div class="u-align-center u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-11">
                    <div class="u-container-layout u-valign-middle u-container-layout-11">
                      <img src="/public/images/4.png" alt="" class="u-image u-image-contain u-image-default u-image-11">
                    </div>
                  </div>
                  <div class="u-align-center u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-12">
                    <div class="u-container-layout u-valign-middle u-container-layout-12">
                      <img src="/public/images/2.png" alt="" class="u-image u-image-contain u-image-default u-image-12">
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-align-center u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-13">
                    <div class="u-container-layout u-valign-middle u-container-layout-13">
                      <img src="/public/images/6.png" alt="" class="u-image u-image-contain u-image-default u-image-13">
                    </div>
                  </div>
                  <div class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xs u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-14">
                    <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-14">
                      <img src="/public/images/4.png" alt="" class="u-image u-image-contain u-image-default u-image-14">
                    </div>
                  </div>
                  <div class="u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-15">
                    <div class="u-container-layout u-valign-middle u-container-layout-15">
                      <img src="/public/images/3.png" alt="" class="u-image u-image-contain u-image-default u-image-15">
                    </div>
                  </div>
                  <div class="u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-16">
                    <div class="u-container-layout u-valign-middle u-container-layout-16">
                      <img src="/public/images/5.png" alt="" class="u-image u-image-contain u-image-default u-image-16">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-4" id="carousel_b7e6">
      <div class="u-clearfix u-sheet u-valign-bottom-lg u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xl u-sheet-1">
        <div class="u-palette-5-base u-shape u-shape-rectangle u-shape-1"></div>
        <div class="u-clearfix u-expanded-width-xl u-expanded-width-xs u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-36 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h1 class="u-text u-text-1">WHY WERE WE FORMED?<br>
                  </h1>
                  <p class="u-custom-font u-heading-font u-text u-text-2">What We Do<span style="text-decoration: underline !important;"></span>
                  </p>
                  <p class="u-custom-font u-heading-font u-text u-text-3">In their time working on Public Sector consulting projects, our leadership team consistently found themselves struggling to gine MWBE resources capable of being a contibuting member on strategy and execution engagements with smaller team sizes. <br>
                    <br>On these engagements, each team member needs to be able to provide a good mix of industry expertise, startegic thinking, client presence, executive communication, and project management. <br>
                    <br>Rolaren&nbsp;was formed to fill this gap in the MWBE market. We partner to deliver quality resources who can contribute and deliver on any consulting engagement.
                  </p>
                  <div class="u-border-8 u-border-custom-color-3 u-shape u-shape-bottom u-shape-right u-shape-2"></div>
                  <div class="u-border-8 u-border-custom-color-3 u-shape u-shape-left u-shape-top u-shape-3"></div>
                  <p class="u-custom-font u-heading-font u-text u-text-4">What We Don't Do<span style="text-decoration: underline !important;"></span>
                  </p>
                  <div class="u-border-8 u-border-palette-2-base u-opacity u-opacity-60 u-shape u-shape-bottom u-shape-right u-shape-4"></div>
                  <p class="u-custom-font u-heading-font u-text u-text-5">We do not provide a resource and disappear. We are not absentee partners. We are invested in the success of each project and ensure Rolaren&nbsp;resources are contributing members of every team.</p>
                  <div class="u-border-8 u-border-palette-2-base u-opacity u-opacity-60 u-shape u-shape-left u-shape-top u-shape-5"></div>
                </div>
              </div>
              <div class="u-align-center-xl u-container-style u-expand-resize u-layout-cell u-left-cell u-size-24 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <div class="u-border-11 u-border-custom-color-3 u-shape u-shape-circle u-white u-shape-6"></div>
                  <div class="u-border-11 u-border-palette-2-base u-opacity u-opacity-60 u-shape u-shape-circle u-white u-shape-7"></div>
                  <h2 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-subtitle u-text u-text-default u-text-6">Strategy&nbsp;<br>Projec​ts
                  </h2>
                  <h2 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-subtitle u-text u-text-default u-text-7">Staff<br>Augmentation
                  </h2>
                  <h2 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-subtitle u-text u-text-default u-text-8">Execution<br>Projec​ts
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-left u-clearfix u-grey-10 u-section-5" id="sec-7ce4">
      <div class="u-expanded-width u-hidden-lg u-hidden-md u-hidden-sm u-hidden-xl u-palette-5-base u-shape u-shape-rectangle u-shape-1"></div>
      <div class="u-palette-5-base u-shape u-shape-rectangle u-shape-2"></div>
      <h1 class="u-text u-text-1">HOW ARE W​E ​DIFFERENT?<br>
      </h1>
      <div class="u-expanded-width u-palette-5-base u-shape u-shape-rectangle u-shape-3"></div>
      <div class="u-clearfix u-gutter-22 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-size-30">
              <div class="u-layout-col">
                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-size-30-md u-white u-layout-cell-1">
                  <div class="u-container-layout u-container-layout-1"><span class="u-icon u-icon-circle u-palette-5-base u-spacing-16 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 464 464" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8df3"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 464 464" x="0px" y="0px" id="svg-8df3" style="enable-background:new 0 0 464 464;"><g><g><path d="M456,217.12H353.68v-19.76c-0.005-2.886-1.564-5.546-4.08-6.96L240,128.8V97.44h21.68v11.92c0,4.418,3.582,8,8,8h65.36    c4.418-0.002,7.998-3.585,7.997-8.003c0-0.926-0.162-1.845-0.477-2.717L336,88l6.64-18.24c1.502-4.155-0.648-8.741-4.803-10.243    c-0.871-0.315-1.79-0.476-2.717-0.477h-29.76v-11.6c0-4.418-3.582-8-8-8H240v-9.76c0-4.418-3.582-8-8-8s-8,3.582-8,8v99.12    l-109.6,61.52c-2.516,1.414-4.075,4.074-4.08,6.96v19.76H8c-4.418,0-8,3.582-8,8v209.28c0,4.418,3.582,8,8,8h448    c4.418,0,8-3.582,8-8v-209.2C464,220.702,460.418,217.12,456,217.12z M305.36,89.44l-0.32-0.32V75.36h18.24L320,85.6    c-0.655,1.782-0.655,3.738,0,5.52l3.76,10.24h-46.08v-3.92h19.68C301.778,97.44,305.36,93.858,305.36,89.44z M240,55.44h49.36    v11.92v14.08H240V55.44z M110.32,426.32H16v-193.2h94.32V426.32z M224,426.32h-42v-91.36h42V426.32z M282,426.32h-42v-91.36h42    V426.32z M338,426.32h-40v-99.36c0-4.418-3.582-8-8-8H174c-4.418,0-8,3.582-8,8v99.36h-40v-224l106-59.68L337.68,202l0.32,23.04    V426.32z M448,426.32h-94.32v-193.2H448V426.32z"></path>
</g>
</g><g><g><path d="M232,167.12c-18.526,0.044-33.52,15.074-33.52,33.6c0.044,18.513,15.087,33.484,33.6,33.44    c18.513-0.044,33.484-15.087,33.44-33.6C265.476,182.079,250.481,167.12,232,167.12z M232,218.16    c-9.676-0.044-17.484-7.924-17.44-17.6c0.044-9.613,7.826-17.396,17.44-17.44c9.689,0.044,17.52,7.911,17.52,17.6h0.08    C249.556,210.396,241.676,218.204,232,218.16z"></path>
</g>
</g><g><g><rect x="35.28" y="250.72" width="16" height="32"></rect>
</g>
</g><g><g><rect x="74.72" y="250.72" width="16" height="32"></rect>
</g>
</g><g><g><rect x="150.32" y="250.72" width="32" height="16"></rect>
</g>
</g><g><g><rect x="216" y="250.72" width="32" height="16"></rect>
</g>
</g><g><g><rect x="281.68" y="250.72" width="32" height="16"></rect>
</g>
</g><g><g><rect x="150.32" y="288" width="32" height="16"></rect>
</g>
</g><g><g><rect x="216" y="288" width="32" height="16"></rect>
</g>
</g><g><g><rect x="281.68" y="288" width="32" height="16"></rect>
</g>
</g><g><g><rect x="35.28" y="313.68" width="16" height="32"></rect>
</g>
</g><g><g><rect x="74.72" y="313.68" width="16" height="32"></rect>
</g>
</g><g><g><rect x="35.28" y="376.72" width="16" height="32"></rect>
</g>
</g><g><g><rect x="74.72" y="376.72" width="16" height="32"></rect>
</g>
</g><g><g><rect x="373.28" y="250.72" width="16" height="32"></rect>
</g>
</g><g><g><rect x="412.72" y="250.72" width="16" height="32"></rect>
</g>
</g><g><g><rect x="373.28" y="313.68" width="16" height="32"></rect>
</g>
</g><g><g><rect x="412.72" y="313.68" width="16" height="32"></rect>
</g>
</g><g><g><rect x="373.28" y="376.72" width="16" height="32"></rect>
</g>
</g><g><g><rect x="412.72" y="376.72" width="16" height="32"></rect>
</g>
</g></svg></span>
                    <h4 class="u-custom-font u-font-roboto u-text u-text-2">We Know State And Local Government<br>
                    </h4>
                    <p class="u-custom-font u-heading-font u-text u-text-grey-50 u-text-3" spellcheck="false">
                      <span class="u-text-grey-60" style="">Our leadership team has extensive Public Sector experience working at the Municipal, State and Federal levels. We understand the nuances and challenges of worki​ng in this sector such as procurement rules and budgetary constraints, personnel/union limitations, statutory or regulatory requirements or administration changes, all of which impact project execution and timelines.</span>
                      <br>
                    </p>
                  </div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-size-30-md u-white u-layout-cell-2">
                  <div class="u-container-layout u-container-layout-2"><span class="u-icon u-icon-circle u-palette-5-base u-spacing-16 u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 511.999 511.999" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a4ab"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 511.999 511.999" x="0px" y="0px" id="svg-a4ab" style="enable-background:new 0 0 511.999 511.999;"><g><g><path d="M344.214,276.755l-43.582-19.37c-3.079-1.368-5.067-4.429-5.067-7.797V237.62c14.64-11.665,24.05-29.628,24.05-49.758    v-16.847c4.823-2.665,8.016-7.815,8.016-13.583v-1.635c0-35.076-28.537-63.613-63.613-63.613h-16.032    c-35.076,0-63.613,28.537-63.613,63.613v14.835c0,5.07,2.182,9.663,5.985,12.602c0.645,0.498,1.324,0.936,2.031,1.315v3.312    c0,20.13,9.409,38.093,24.048,49.757v11.969c0,3.368-1.989,6.429-5.067,7.797l-43.582,19.37    c-14.273,6.343-23.496,20.535-23.496,36.154v99.404c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-99.403    c0-0.869,0.062-1.728,0.152-2.58l20.082,20.082c3.125,3.126,4.847,7.281,4.847,11.702v70.2c0,4.142,3.358,7.5,7.5,7.5    c4.142,0,7.5-3.358,7.5-7.5v-70.2c0-8.427-3.281-16.349-9.24-22.308l-23.941-23.942c2.157-2.238,4.745-4.093,7.689-5.402    l42.847-19.043l31.775,31.775v109.119c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5V303.194l31.775-31.775l42.846,19.042    c2.944,1.309,5.532,3.164,7.689,5.403l-23.941,23.941c-5.959,5.959-9.24,13.881-9.24,22.308v70.2c0,4.142,3.358,7.5,7.5,7.5    c4.142,0,7.5-3.358,7.5-7.5v-70.2c0-4.42,1.721-8.576,4.847-11.702l20.081-20.081c0.09,0.852,0.152,1.709,0.152,2.578v99.404    c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-99.403C367.709,297.29,358.487,283.098,344.214,276.755z M256,289.481    l-27.881-27.882c2.12-3.567,3.317-7.694,3.317-12.011v-3.052c7.563,3.178,15.862,4.939,24.565,4.939s17.001-1.76,24.563-4.938    v3.051c0,4.318,1.197,8.444,3.318,12.012L256,289.481z M256.001,236.474c-26.805,0.001-48.613-21.807-48.613-48.612v-3.373    c4.68-1.855,9.248-4.807,13.621-8.842c3.043-2.809,3.234-7.554,0.424-10.598c-2.809-3.043-7.553-3.234-10.598-0.425    c-3.751,3.463-7.499,5.7-11.137,6.65c-0.088,0.023-0.153,0.033-0.199,0.037c-0.054-0.105-0.127-0.325-0.127-0.678v-14.835    c0-26.805,21.808-48.613,48.613-48.613h16.032c26.806,0,48.613,21.808,48.613,48.613v1.635c0,0.243-0.146,0.454-0.338,0.492    c-44.911,8.87-67.437-7.847-75.037-15.447c-2.929-2.929-7.678-2.929-10.606,0c-2.929,2.929-2.929,7.678,0,10.606    c23.29,23.29,57.275,23.71,77.965,21.224v13.553C304.614,214.666,282.806,236.474,256.001,236.474z"></path>
</g>
</g><g><g><path d="M135.242,235.961v-16.035c0-19.566-10.168-36.79-25.489-46.702c0.946-3.035,1.44-6.214,1.44-9.411    c0-17.396-14.152-31.548-31.548-31.548s-31.548,14.153-31.548,31.548c0,3.237,0.49,6.385,1.438,9.413    c-15.32,9.911-25.487,27.135-25.487,46.7v16.032c0,18.947,9.533,35.701,24.048,45.743v16.493c0,3.253-1.807,6.177-4.716,7.632    l-25.941,12.97C6.682,324.176,0,334.988,0,347.015v65.299c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-62.055l12.218,12.218    c3.125,3.126,4.847,7.281,4.847,11.702v38.135c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-38.135    c0-8.427-3.282-16.349-9.24-22.308L20.82,334.866c-0.082-0.082-0.17-0.153-0.254-0.23c1.067-0.942,2.264-1.762,3.582-2.422    l25.941-12.97c1.329-0.665,2.566-1.45,3.719-2.322l18.337,18.338v77.055c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5    v-77.056l18.338-18.338c1.154,0.873,2.39,1.658,3.719,2.322l7.153,3.577c1.077,0.539,2.221,0.794,3.349,0.794    c2.751,0,5.4-1.52,6.714-4.147c1.853-3.705,0.351-8.21-3.354-10.062l-7.153-3.577c-2.91-1.455-4.717-4.379-4.717-7.631v-16.493    C125.709,271.662,135.242,254.907,135.242,235.961z M79.645,147.265c9.125,0,16.548,7.424,16.548,16.548    c0,1.005-0.09,1.99-0.262,2.955c-5.154-1.582-10.621-2.439-16.286-2.439c-5.657,0-11.117,0.854-16.263,2.432    c-0.173-0.965-0.285-1.945-0.285-2.948C63.097,154.688,70.52,147.265,79.645,147.265z M79.645,179.33    c22.385,0,40.597,18.212,40.597,40.597v2.718c-31.225,9.56-49.834-14.193-50.629-15.234c-1.305-1.739-3.3-2.827-5.468-2.981    c-2.168-0.152-4.298,0.641-5.835,2.178c-7.159,7.159-14.171,10.612-19.235,12.279C39.63,196.981,57.609,179.33,79.645,179.33z     M79.645,321.545l-17.331-17.331c0.506-1.934,0.783-3.95,0.783-6.019v-9.155c5.229,1.634,10.788,2.515,16.548,2.515    s11.319-0.881,16.548-2.515v9.155c0,2.069,0.277,4.086,0.783,6.019L79.645,321.545z M79.645,276.555    c-22.385,0-40.597-18.212-40.597-40.597v-1.554c5.981-1.374,14.849-4.567,24.1-12.007c3.273,3.088,7.951,6.876,13.908,10.125    c7.046,3.843,16.777,7.398,28.663,7.398c4.517,0,9.35-0.525,14.459-1.731C119.015,259.541,101.281,276.555,79.645,276.555z"></path>
</g>
</g><g><g><path d="M494.561,302.765l-41.973-20.987c-2.909-1.455-4.716-4.379-4.716-7.631v-10.629c9.825-8.723,16.032-21.435,16.032-35.575    v-8.537c0.173,0,0.343,0.005,0.516,0.005c4.142,0,7.5-3.358,7.5-7.5v-16.032c0-26.236-21.345-47.581-47.581-47.581h-16.032    c-26.236,0-47.581,21.345-47.581,47.581v16.032c0,4.142,3.358,7.5,7.5,7.5c0.062,0,0.242-0.002,0.516-0.013v8.545    c0,14.141,6.208,26.853,16.033,35.576v10.629c0,3.253-1.807,6.177-4.717,7.631c-3.705,1.852-5.207,6.357-3.354,10.062    c1.314,2.628,3.963,4.148,6.714,4.148c1.127,0,2.271-0.255,3.348-0.793c1.329-0.665,2.566-1.45,3.719-2.322l18.338,18.338v101.103    c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5V311.21l18.337-18.338c1.154,0.873,2.39,1.658,3.719,2.322l40.615,20.308    l-12.319,12.319c-5.958,5.959-9.24,13.881-9.24,22.308v62.184c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-62.184    c0-4.42,1.721-8.576,4.847-11.702l11.669-11.669c0.354,1.357,0.548,2.772,0.548,4.224v81.331c0,4.142,3.358,7.5,7.5,7.5    c4.142,0,7.5-3.358,7.5-7.5v-81.331C512,318.956,505.318,308.144,494.561,302.765z M375.725,202.868v-6.99h0.001    c0-17.965,14.616-32.581,32.581-32.581h16.032c17.965,0,32.581,14.616,32.581,32.581v8.331    c-32.603-1.759-52.278-14.446-52.469-14.571c-1.269-0.846-2.717-1.26-4.158-1.26c-1.936,0-3.856,0.748-5.306,2.197    C387.811,197.751,380.78,201.205,375.725,202.868z M416.323,297.497l-17.331-17.331c0.506-1.934,0.783-3.95,0.783-6.019v-1.597    c5.156,1.919,10.731,2.973,16.548,2.973c5.817,0,11.392-1.054,16.548-2.973v1.597c0,2.069,0.276,4.085,0.783,6.019    L416.323,297.497z M416.323,260.524c-17.965,0-32.581-14.615-32.581-32.581v-12.091h0c5.253-2.099,11.373-5.436,17.601-10.742    c7.876,4.098,24.354,11.181,47.561,13.521v9.312C448.904,245.908,434.288,260.524,416.323,260.524z"></path>
</g>
</g></svg></span>
                    <h4 class="u-custom-font u-font-roboto u-text u-text-4">We Deliver Quality Resources<br>
                    </h4>
                    <p class="u-custom-font u-heading-font u-text u-text-grey-60 u-text-5" spellcheck="false">Because we know consulting, our people are better suited to add value on strategic projects and initiatives instead of serving as general staff augmentation. We ensure our resources possess the skillsets necessary to engage with key clients, glean insights and perform the necessary critical thinking to produce executive level solutions leading directly to high-quality deliverables and presentations. <br>
                    </p>
                  </div>
                </div>
                <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-right-cell u-size-20 u-size-60-md u-layout-cell-3">
                  <div class="u-container-layout u-container-layout-3"></div>
                </div>
              </div>
            </div>
            <div class="u-size-30">
              <div class="u-layout-col">
                <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-left-cell u-size-20 u-size-30-md u-layout-cell-4">
                  <div class="u-container-layout u-container-layout-4"></div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-size-30-md u-white u-layout-cell-5">
                  <div class="u-container-layout u-container-layout-5"><span class="u-icon u-icon-circle u-palette-5-base u-spacing-16 u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6410"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" id="svg-6410"><g><path d="m125.07 250.533c3.777-2.021 6.124-5.939 6.124-10.223v-9.416h6.6c17.682 0 32.067-14.385 32.067-32.067v-60.113c0-17.682-14.386-32.067-32.067-32.067h-105.727c-17.681-.001-32.067 14.385-32.067 32.066v60.113c0 17.682 14.386 32.067 32.067 32.067h64.488l15.063 17.687c3.24 3.715 9.247 4.203 13.452 1.953zm-28.422-34.639h-64.581c-9.411 0-17.067-7.656-17.067-17.067v-60.113c0-9.411 7.656-17.067 17.067-17.067h105.727c9.411 0 17.067 7.656 17.067 17.067v60.113c0 9.411-7.656 17.067-17.067 17.067h-10.005c-6.394 0-11.595 5.201-11.595 11.594v3.33l-9.294-10.913c-2.418-2.772-6.686-3.999-10.252-4.011zm413.8 221.707-31.36-132.39c-5.238-22.109-22.904-39.555-45.011-44.445l-72.641-16.04c-4.46-.984-7.696-5.041-7.696-9.646v-12.102c24.032-14.741 40.109-41.335 40.109-71.633v-5.141c14.526.647 27.268-10.552 27.268-25.571 0-14.82-12.573-26.333-27.268-25.479v-57.654c0-20.678-16.822-37.5-37.5-37.5h-91.968c-20.678 0-37.5 16.822-37.5 37.5v57.654c-14.654-.731-27.268 10.615-27.268 25.57 0 14.536 12.573 26.534 27.268 25.48v5.141c0 30.298 16.077 56.892 40.108 71.633v12.102c0 4.605-3.236 8.662-7.697 9.646l-72.644 16.041c-22.098 4.888-39.76 22.333-44.997 44.443l-31.37 132.39c-.758 3.023-1.552 6.046-1.552 9.279 0 12.238 7.847 22.86 19.531 26.434l41.795 12.75v8.436c0 9.649 7.309 17.5 16.292 17.5h248.034c8.983 0 16.292-7.851 16.292-17.5v-8.437l41.799-12.751c11.681-3.571 19.528-14.186 19.528-26.411 0-3.096-.882-6.287-1.552-9.299zm-116.598-327.447c6.342-.784 12.268 3.971 12.268 10.57 0 6.416-5.91 11.308-12.268 10.48zm-166.968 21.051c-6.379.799-12.268-3.976-12.268-10.571 0-6.471 5.967-11.269 12.268-10.479zm15 20.14v-41.453c12.957-.738 25.672-2.946 37.892-6.585 3.97-1.182 6.229-5.359 5.048-9.329-1.182-3.969-5.355-6.228-9.329-5.047-10.834 3.226-22.111 5.193-33.61 5.912v-57.343c0-12.407 10.094-22.5 22.5-22.5h91.968c12.406 0 22.5 10.093 22.5 22.5v54.429c-5.636-2.529-10.921-5.763-15.78-9.693-6.94-5.614-12.733-12.406-17.22-20.189-1.646-2.854-4.45-4.799-7.695-5.337-3.239-.538-6.515.396-8.985 2.562-7.185 6.295-14.985 11.875-23.184 16.586-3.592 2.063-4.83 6.648-2.767 10.239 2.063 3.592 6.648 4.83 10.239 2.767 7.678-4.412 15.036-9.511 21.93-15.194 5 7.675 11.123 14.464 18.249 20.229 7.606 6.152 16.067 10.918 25.213 14.208v43.239c0 37.974-30.722 68.869-68.484 68.869-37.763-.001-68.485-30.896-68.485-68.87zm107.839 104.339c-10.655 9.888-24.543 15.407-39.356 15.407s-28.701-5.519-39.356-15.407c6.665-4.537 10.981-12.202 10.981-20.603v-4.862c8.863 3.228 18.417 4.995 28.375 4.995s19.512-1.767 28.375-4.995v4.861c0 8.402 4.316 16.066 10.981 20.604zm-174.645 216.228-42.432-12.944c-5.248-1.605-8.913-6.576-8.913-12.088 0-8 7.677-14.212 15.443-12.289l30.883 7.437v6.03c0 8.183 2.911 15.699 7.752 21.567-.987.657-1.9 1.428-2.733 2.287zm260.599 22.588c0 1.556-.897 2.5-1.292 2.5h-248.034c-.395 0-1.292-.944-1.292-2.5v-10c0-1.556.897-2.5 1.292-2.5h248.034c.395 0 1.292.944 1.292 2.5zm-258.118-119.674c4.143 0 7.5-3.358 7.5-7.5v-38.691c0-10.445 8.497-18.942 18.941-18.942h212.734c10.445 0 18.942 8.497 18.942 18.942v119.423c0 10.444-8.497 18.942-18.942 18.942h-212.734c-10.444 0-18.941-8.498-18.941-18.942v-45.732c0-4.142-3.357-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v24.273l-27.364-6.589c-4.284-1.036-8.655-1.021-12.823-.018l26.378-111.323c3.92-16.548 17.125-29.602 33.639-33.255l65.401-14.442c13.92 16.021 33.73 25.119 55.078 25.119s41.157-9.098 55.078-25.119l65.397 14.44c16.522 3.655 29.731 16.709 33.652 33.256l26.37 111.323c-4.166-1.002-8.536-1.017-12.818.017l-27.369 6.59v-97.964c0-18.716-15.227-33.942-33.942-33.942h-212.736c-18.716 0-33.941 15.226-33.941 33.942v38.691c0 4.143 3.357 7.501 7.5 7.501zm310.535 84.14-42.436 12.946c-.833-.859-1.746-1.63-2.733-2.287 4.841-5.868 7.752-13.384 7.752-21.567v-6.031l30.887-7.438c7.7-1.917 15.438 4.286 15.438 12.31 0 5.501-3.665 10.464-8.908 12.067zm-442.175-297.696h78.027c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-78.027c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5zm85.527 22.5c0-4.142-3.357-7.5-7.5-7.5h-78.027c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h78.027c4.143 0 7.5-3.358 7.5-7.5zm197.206 13.035c3.627-2 4.946-6.561 2.947-10.188-2-3.627-6.561-4.947-10.189-2.947-2.37 1.307-6.195 2.849-11.043 2.849-.079 0-.159 0-.239-.001-4.75-.05-8.497-1.577-10.804-2.848-3.628-2.001-8.189-.68-10.189 2.947-1.999 3.627-.68 8.189 2.947 10.189 5.588 3.082 11.921 4.713 18.286 4.713 8.031-.001 14.363-2.553 18.284-4.714zm-18.285 231.251c19.891 0 36.073-16.247 36.073-36.218s-16.183-36.218-36.073-36.218-36.073 16.247-36.073 36.218 16.183 36.218 36.073 36.218zm0-57.436c11.62 0 21.073 9.518 21.073 21.218s-9.453 21.218-21.073 21.218-21.073-9.518-21.073-21.218 9.453-21.218 21.073-21.218zm-36.66-253.267c-4.143 0-7.5 3.358-7.5 7.5v14.738c0 4.142 3.357 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-14.738c0-4.143-3.357-7.5-7.5-7.5zm73.321 29.738c4.143 0 7.5-3.358 7.5-7.5v-14.738c0-4.142-3.357-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v14.738c0 4.142 3.358 7.5 7.5 7.5z"></path>
</g></svg></span>
                    <h4 class="u-text u-text-6">We Know Management Consulting<br>
                    </h4>
                    <p class="u-custom-font u-heading-font u-text u-text-grey-50 u-text-7" spellcheck="false">
                      <span class="u-text-grey-60">Our team has a diverse background working on both public and private sector projects. We know the skillset needed to execute a successful management consulting project is different from the vast majority of other jobs. One needs the ability to rapidly understand client business, to quickly deliver impactful insights, and to effectively communicate these takeaways through deliverables, consensus building and presentation all within a tight timeline.</span>
                      <br>
                    </p>
                  </div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-size-60-md u-white u-layout-cell-6">
                  <div class="u-container-layout u-container-layout-6"><span class="u-icon u-icon-circle u-palette-5-base u-spacing-16 u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-344d"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-344d" style="enable-background:new 0 0 512 512;"><g><g><path d="M404.267,315.41c-10.048-20.949-45.995-50.027-80.725-78.123c-19.371-15.659-37.675-30.464-49.344-42.133    c-2.923-2.944-7.296-3.883-11.157-2.496c-7.189,2.603-11.627,4.608-15.125,6.165c-5.333,2.389-7.125,3.2-14.315,3.925    c-3.179,0.32-6.037,2.027-7.808,4.672c-15.083,22.549-30.699,20.629-41.131,17.131c-3.328-1.109-3.925-2.539-4.245-3.904    c-2.24-9.365,9.003-31.168,23.573-45.739c34.667-34.688,52.544-43.371,90.304-26.496c42.837,19.157,85.76,34.155,86.187,34.304    c5.611,1.941,11.648-1.003,13.589-6.571c1.92-5.568-1.003-11.648-6.571-13.589c-0.427-0.149-42.496-14.848-84.48-33.643    c-48.917-21.867-75.755-7.467-114.091,30.891c-14.592,14.592-34.411,44.117-29.291,65.771c2.197,9.216,8.683,16.043,18.325,19.221    c24.171,7.979,46.229,0.341,62.656-21.461c6.784-1.045,10.475-2.581,16.021-5.077c2.005-0.896,4.352-1.941,7.467-3.2    c12.203,11.456,28.672,24.789,46.016,38.805c31.36,25.365,66.923,54.123,74.923,70.763c3.947,8.213-0.299,13.568-3.179,16.021    c-4.224,3.627-10.005,4.779-13.141,2.581c-3.456-2.368-7.957-2.517-11.52-0.384c-3.584,2.133-5.589,6.165-5.141,10.304    c0.725,6.784-5.483,10.667-8.171,12.011c-6.827,3.456-13.952,2.859-16.619,0.384c-2.987-2.773-7.275-3.584-11.072-2.176    c-3.797,1.429-6.443,4.928-6.827,8.981c-0.64,6.997-5.824,13.717-12.587,16.341c-3.264,1.237-8,1.984-12.245-1.899    c-2.645-2.389-6.315-3.307-9.749-2.475c-3.477,0.853-6.272,3.371-7.488,6.72c-0.405,1.067-1.323,3.627-11.307,3.627    c-7.104,0-19.883-4.8-26.133-8.939c-7.488-4.928-54.443-39.957-94.997-73.92c-5.696-4.8-15.552-15.083-24.256-24.171    c-7.723-8.064-14.784-15.381-18.411-18.453c-4.544-3.84-11.264-3.264-15.04,1.259c-3.797,4.501-3.243,11.243,1.259,15.04    c3.307,2.795,9.707,9.557,16.768,16.917c9.515,9.941,19.349,20.224,25.963,25.771c39.723,33.259,87.467,69.163,96.981,75.413    c7.851,5.163,24.768,12.416,37.867,12.416c10.517,0,18.603-2.411,24.213-7.125c7.509,2.923,16.043,2.944,24.256-0.256    c9.707-3.755,17.685-11.328,22.208-20.501c8.405,1.792,18.027,0.533,26.773-3.861c8.555-4.309,14.741-10.901,17.813-18.603    c8.491,0.448,17.237-2.56,24.469-8.768C407.979,346.407,411.349,330.109,404.267,315.41z"></path>
</g>
</g><g><g><path d="M213.333,138.663h-96c-5.888,0-10.667,4.779-10.667,10.667s4.779,10.667,10.667,10.667h96    c5.888,0,10.667-4.779,10.667-10.667S219.221,138.663,213.333,138.663z"></path>
</g>
</g><g><g><path d="M435.52,292.711c-3.307-4.885-9.92-6.229-14.805-2.901l-31.189,20.949c-4.885,3.285-6.187,9.92-2.901,14.805    c2.069,3.051,5.44,4.715,8.875,4.715c2.027,0,4.096-0.576,5.931-1.813l31.189-20.949    C437.504,304.231,438.805,297.597,435.52,292.711z"></path>
</g>
</g><g><g><path d="M369.301,343.613c-7.637-6.016-41.792-40.981-62.912-62.997c-4.075-4.267-10.837-4.416-15.083-0.32    c-4.267,4.075-4.395,10.837-0.32,15.083c5.483,5.717,53.845,56.128,65.088,65.003c1.941,1.536,4.288,2.283,6.592,2.283    c3.136,0,6.272-1.408,8.405-4.075C374.72,353.981,373.931,347.261,369.301,343.613z"></path>
</g>
</g><g><g><path d="M326.677,365.01c-12.779-10.219-44.885-44.331-52.139-52.224c-4.011-4.352-10.731-4.608-15.083-0.64    c-4.331,3.989-4.629,10.752-0.64,15.083c0.384,0.405,38.699,41.771,54.528,54.443c1.963,1.557,4.331,2.325,6.656,2.325    c3.115,0,6.229-1.387,8.341-3.989C332.011,375.399,331.264,368.679,326.677,365.01z"></path>
</g>
</g><g><g><path d="M284.224,386.493c-15.211-12.821-46.336-45.952-52.416-52.459c-4.032-4.309-10.795-4.544-15.083-0.512    c-4.309,4.032-4.523,10.773-0.512,15.083c8.747,9.365,38.528,40.939,54.251,54.208c2.005,1.685,4.437,2.517,6.869,2.517    c3.029,0,6.059-1.301,8.171-3.797C289.301,397.01,288.725,390.29,284.224,386.493z"></path>
</g>
</g><g><g><path d="M124.672,120.253C106.389,102.93,33.28,97.319,11.307,96.018c-3.029-0.149-5.824,0.853-7.957,2.88    C1.216,100.903,0,103.719,0,106.663v192c0,5.888,4.779,10.667,10.667,10.667h64c4.608,0,8.704-2.965,10.133-7.36    c1.557-4.779,38.315-117.589,43.157-173.056C128.235,125.671,127.04,122.471,124.672,120.253z M66.88,287.997H21.333V118.098    c34.283,2.709,71.275,8.597,84.715,15.125C100.395,179.943,74.816,262.951,66.88,287.997z"></path>
</g>
</g><g><g><path d="M501.333,117.33c-83.755,0-130.219,21.44-132.16,22.336c-2.773,1.301-4.843,3.712-5.696,6.635s-0.427,6.059,1.173,8.661    c13.184,21.227,54.464,139.115,62.4,167.872c1.28,4.629,5.483,7.829,10.283,7.829h64c5.888,0,10.667-4.779,10.667-10.667v-192    C512,122.087,507.221,117.33,501.333,117.33z M490.667,309.33h-45.355c-10.112-32.939-39.979-118.827-56.64-154.325    c16.277-5.525,51.243-15.019,101.995-16.213V309.33z"></path>
</g>
</g></svg></span>
                    <h4 class="u-custom-font u-font-roboto u-text u-text-8">We're Invested Partners<br>
                    </h4>
                    <p class="u-custom-font u-heading-font u-text u-text-grey-60 u-text-9" spellcheck="false">Our approach to projects is a true partnership, not just to provide resources. Our goal is to have our resources and leadership team seamlessly imbedded into projects in order to facilitate communication and deliver the best possible results to our client. We want you to build trust in us and our people so you feel more&nbsp; connformtable leveraging them on future engagements. We also look to identify business development opportunities which our partner's core competencies. <br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-6" id="carousel_c23a">
      <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
        <div class="u-palette-5-base u-shape u-shape-rectangle u-shape-1"></div>
        <h1 class="u-text u-text-1">WHAT DO WE&nbsp;<br>OFFER?<br>
        </h1>
        <h3 class="u-align-justify u-text u-text-2">We recognize that project execution is important but is also only one component necessary to support and grow a successful&nbsp;Public Sector practice. Our goal is to deliver value to our partners throughout the entire project life cycle both before the work is awarded and after execution begins.&nbsp;</h3>
        <div class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gutter-16 u-layout-spacing-all u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-grey-80 u-layout-cell u-left-cell u-size-20 u-layout-cell-1">
                <div class="u-container-layout u-valign-top-xs u-container-layout-1">
                  <h3 class="u-text u-text-3">BUSINESS ​DEVELOPMENT </h3>
                  <div class="u-border-3 u-border-white u-line u-line-horizontal u-line-1"></div>
                  <ul class="u-custom-font u-heading-font u-text u-text-4">
                    <li style="">Our team is constantly researching RFPs as they are released for bid. We cross reference requirements with our partners's core competencies and identified growth areas to help bring awareness of potential opportunities. We also maintain contact with our former clients to keep a pulse of upcoming RFPs prior to their release <br>
                    </li>
                    <li style="">Once on the ground, we identify potential account growth opportunities to share with our partners<br>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="u-container-style u-grey-40 u-layout-cell u-size-20 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h3 class="u-text u-text-5">BIDDING</h3>
                  <div class="u-border-3 u-border-white u-line u-line-horizontal u-line-2"></div>
                  <ul class="u-custom-font u-heading-font u-text u-text-6">
                    <li style="">We understand through firsthand experience how complex and time consuming RFP response can be. We provide service in drafting responses ranging from providing general frameworks to specific strategies for a given problem along with credentialed resource bios</li>
                    <li style="">Our leadership team has experience with the Orals process and can assisr in preparation or execution<br>
                    </li>
                    <li style="">Finally, we can add value in drafting and reviewing Statements of Work focusing on scope, schedule and budget to evaluate feasibility<br>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="u-container-style u-custom-color-3 u-layout-cell u-right-cell u-size-20 u-layout-cell-3">
                <div class="u-container-layout u-valign-top-xs u-container-layout-3">
                  <h3 class="u-text u-text-7">EXECUTIO​N </h3>
                  <div class="u-border-3 u-border-white u-line u-line-horizontal u-line-3"></div>
                  <ul class="u-custom-font u-heading-font u-text u-text-8">
                    <li style="">We provide resources well equipped to deliver value on any type of consulting project whether it is a 8 week strategy project complete with detailed current / future state analyses or a Business and IT implementation / transformation project spinning many months</li>
                    <li style="">We can provide resources with the skillsets necessary to excel at any level. Resources capable of partnering with senior leadership to provide trusted guidance, or resources capable of executing a complex program management office, or even resources needed to support and drive individual workstreams. We can also provide subject matter experts in almost any area or discipline<br>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-right u-clearfix u-section-7" id="carousel_c1ec">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-expanded-width-sm u-group u-image u-image-tiles u-image-1">
          <div class="u-container-layout u-container-layout-1"></div>
        </div>
        <img src="/public/images/1366x768-slate-gray-solid-color-background.jpg" alt="" class="u-image u-image-default u-image-2">
        <div class="u-hidden-xs u-shape u-shape-svg u-text-palette-5-dark-3 u-shape-1">
          <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 60" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-84ce"></use></svg>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 160 60" x="0px" y="0px" id="svg-84ce"><path d="M7.3,0C3.3,0,0,3.1,0,6.9s3.3,6.9,7.3,6.9s7.3-3.1,7.3-6.9S11.2,0,7.3,0z M31.5,0c-4,0-7.3,3.1-7.3,6.9s3.3,6.9,7.3,6.9
	s7.3-3.1,7.3-6.9S35.5,0,31.5,0z M55.8,0c-4,0-7.3,3.1-7.3,6.9s3.3,6.9,7.3,6.9S63,10.7,63,6.9S59.7,0,55.8,0z M80,0
	c-4,0-7.3,3.1-7.3,6.9s3.3,6.9,7.3,6.9s7.3-3.1,7.3-6.9S84,0,80,0z M104.2,0c-4,0-7.3,3.1-7.3,6.9s3.3,6.9,7.3,6.9
	c4,0,7.3-3.1,7.3-6.9S108.2,0,104.2,0z M128.5,0c-4,0-7.3,3.1-7.3,6.9s3.3,6.9,7.3,6.9c4,0,7.3-3.1,7.3-6.9S132.5,0,128.5,0z
	 M152.7,0c-4,0-7.3,3.1-7.3,6.9s3.3,6.9,7.3,6.9c4,0,7.3-3.1,7.3-6.9S156.7,0,152.7,0z M7.3,23.1c-4,0-7.3,3.1-7.3,6.9
	s3.3,6.9,7.3,6.9s7.3-3.1,7.3-6.9S11.2,23.1,7.3,23.1z M31.5,23.1c-4,0-7.3,3.1-7.3,6.9s3.3,6.9,7.3,6.9s7.3-3.1,7.3-6.9
	S35.5,23.1,31.5,23.1z M55.8,23.1c-4,0-7.3,3.1-7.3,6.9s3.3,6.9,7.3,6.9S63,33.8,63,30S59.7,23.1,55.8,23.1z M80,23.1
	c-4,0-7.3,3.1-7.3,6.9s3.3,6.9,7.3,6.9s7.3-3.1,7.3-6.9S84,23.1,80,23.1z M104.2,23.1c-4,0-7.3,3.1-7.3,6.9s3.3,6.9,7.3,6.9
	c4,0,7.3-3.1,7.3-6.9S108.2,23.1,104.2,23.1z M128.5,23.1c-4,0-7.3,3.1-7.3,6.9s3.3,6.9,7.3,6.9c4,0,7.3-3.1,7.3-6.9
	S132.5,23.1,128.5,23.1z M152.7,23.1c-4,0-7.3,3.1-7.3,6.9s3.3,6.9,7.3,6.9c4,0,7.3-3.1,7.3-6.9S156.7,23.1,152.7,23.1z M7.3,46.2
	c-4,0-7.3,3.1-7.3,6.9C0,56.9,3.3,60,7.3,60s7.3-3.1,7.3-6.9C14.5,49.3,11.2,46.2,7.3,46.2z M31.5,46.2c-4,0-7.3,3.1-7.3,6.9
	c0,3.8,3.3,6.9,7.3,6.9s7.3-3.1,7.3-6.9C38.8,49.3,35.5,46.2,31.5,46.2z M55.8,46.2c-4,0-7.3,3.1-7.3,6.9c0,3.8,3.3,6.9,7.3,6.9
	s7.3-3.1,7.3-6.9C63,49.3,59.7,46.2,55.8,46.2z M80,46.2c-4,0-7.3,3.1-7.3,6.9c0,3.8,3.3,6.9,7.3,6.9s7.3-3.1,7.3-6.9
	C87.3,49.3,84,46.2,80,46.2z M104.2,46.2c-4,0-7.3,3.1-7.3,6.9c0,3.8,3.3,6.9,7.3,6.9c4,0,7.3-3.1,7.3-6.9
	C111.5,49.3,108.2,46.2,104.2,46.2z M128.5,46.2c-4,0-7.3,3.1-7.3,6.9c0,3.8,3.3,6.9,7.3,6.9c4,0,7.3-3.1,7.3-6.9
	C135.8,49.3,132.5,46.2,128.5,46.2z M152.7,46.2c-4,0-7.3,3.1-7.3,6.9c0,3.8,3.3,6.9,7.3,6.9c4,0,7.3-3.1,7.3-6.9
	C160,49.3,156.7,46.2,152.7,46.2z"></path></svg>
        </div>
        <div class="u-expanded-width-xs u-list u-repeater u-list-1">
          <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-1">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2"><span class="u-icon u-icon-circle u-palette-4-dark-3 u-spacing-22 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-ec81"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-ec81" style="enable-background:new 0 0 512 512;"><g><g><path d="M393.072,97.429l-94.5-94.5C296.697,1.054,294.153,0,291.5,0H30C13.458,0,0,13.458,0,30v452c0,16.542,13.458,30,30,30h50    c5.523,0,10-4.477,10-10s-4.477-10-10-10H30c-5.514,0-10-4.486-10-10V30c0-5.514,4.486-10,10-10h251.5v64.5    c0,16.542,13.458,30,30,30H376V359c0,5.523,4.477,10,10,10s10-4.477,10-10V104.5C396,101.848,394.947,99.304,393.072,97.429z     M311.5,94.5c-5.514,0-10-4.486-10-10V34.142L361.859,94.5H311.5z"></path>
</g>
</g><g><g><path d="M492,428h-12v-13.333C480,399.962,468.039,388,453.333,388h-121c-5.523,0-10,4.477-10,10s4.477,10,10,10h121    c3.676,0,6.667,2.991,6.667,6.667V428H177c-1.485,0-2.951,0.331-4.292,0.968L107.411,460H85c-5.523,0-10,4.477-10,10    s4.477,10,10,10h22.411l65.296,31.032C174.049,511.67,175.516,512,177,512h315c11.028,0,20-8.972,20-20v-44    C512,436.972,503.029,428,492,428z M167,486.175L132.964,470L167,453.824V486.175z M438,492H187v-44h251V492z M492,492h-34v-44h34    V492z"></path>
</g>
</g><g><g><path d="M256,87.27h-27c-5.523,0-10,4.477-10,10c0,5.523,4.477,10,10,10h2.92l-55.254,55.254l-41.595-41.595    c-3.905-3.905-10.237-3.905-14.143,0l-64,64c-3.905,3.905-3.905,10.237,0,14.143C58.881,201.024,61.441,202,64,202    s5.119-0.976,7.071-2.929L128,142.142l41.595,41.596c3.905,3.904,10.237,3.904,14.143,0L246,121.476v2.794c0,5.523,4.477,10,10,10    s10-4.477,10-10v-27C266,91.747,261.523,87.27,256,87.27z"></path>
</g>
</g><g><g><path d="M332,246.127H64c-5.523,0-10,4.477-10,10s4.477,10,10,10h268c5.523,0,10-4.477,10-10    C342,250.604,337.523,246.127,332,246.127z"></path>
</g>
</g><g><g><path d="M171,302.127H64c-5.523,0-10,4.477-10,10s4.477,10,10,10h107c5.523,0,10-4.477,10-10S176.523,302.127,171,302.127z"></path>
</g>
</g><g><g><path d="M171,358.127H64c-5.523,0-10,4.477-10,10s4.477,10,10,10h107c5.523,0,10-4.477,10-10S176.523,358.127,171,358.127z"></path>
</g>
</g><g><g><path d="M220.57,361.06c-1.86-1.87-4.44-2.93-7.07-2.93s-5.21,1.07-7.07,2.93s-2.93,4.43-2.93,7.07c0,2.63,1.07,5.21,2.93,7.07    c1.86,1.86,4.44,2.93,7.07,2.93s5.21-1.07,7.07-2.93s2.93-4.44,2.93-7.07C223.5,365.49,222.43,362.92,220.57,361.06z"></path>
</g>
</g><g><g><path d="M220.57,305.06c-1.86-1.87-4.44-2.93-7.07-2.93s-5.21,1.06-7.07,2.93c-1.86,1.86-2.93,4.43-2.93,7.07    c0,2.63,1.07,5.21,2.93,7.07c1.86,1.86,4.44,2.93,7.07,2.93s5.21-1.07,7.07-2.93s2.93-4.44,2.93-7.07S222.43,306.92,220.57,305.06    z"></path>
</g>
</g></svg></span>
              <h4 class="u-align-center u-text u-text-1">ASSOCIATE</h4>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-2">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3"><span class="u-icon u-icon-circle u-palette-4-dark-3 u-spacing-22 u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-c77a"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" id="svg-c77a"><g><path d="m462.492 97.868c.003-2.449-.901-4.821-2.532-6.648-.253-.283-.423-.473-.435-.486 0 0-88.911-87.948-88.965-88-.003-.003-.148-.128-.376-.325-1.814-1.565-4.141-2.423-6.537-2.41-.001 0-.001 0-.001 0-.011.001-282.735.001-282.735.001-17.316 0-31.403 13.984-31.403 31.172v449.656c0 17.189 14.087 31.172 31.403 31.172h350.178c17.316 0 31.403-13.983 31.403-31.172v-382.956c0-.001 0-.002 0-.004zm-88.803-63.91 54.474 53.886h-54.474zm57.4 458.042h-350.178c-6.288 0-11.403-5.012-11.403-11.172v-449.656c0-6.16 5.116-11.172 11.403-11.172h272.778v77.844c0 5.522 4.477 10 10 10h78.803v372.984c0 6.16-5.115 11.172-11.403 11.172z"></path><path d="m275.802 102.888c-3.371-.062-6.699 1.22-9.116 3.576-2.409 2.35-3.791 5.628-3.791 8.993v100.776c0 5.522 4.477 10 10 10h100.777c3.366 0 6.645-1.383 8.995-3.793 2.356-2.416 3.659-5.739 3.574-9.116-1.524-60.402-50.033-108.912-110.439-110.436zm7.094 103.346v-82.855c43.651 4.629 78.226 39.203 82.855 82.855z"></path><path d="m229.119 373.383h.001c.006-.001.013-.001.019 0 29.779-.001 57.91-11.457 79.212-32.26 21.263-20.767 33.385-48.546 34.131-78.22.086-3.373-1.216-6.693-3.571-9.108-2.352-2.411-5.631-3.794-8.999-3.794h-90.793v-91.066c0-.37-.02-.741-.061-1.109-.73-6.535-6.247-11.359-12.824-11.172-29.674.747-57.453 12.869-78.219 34.132-20.803 21.301-32.26 49.432-32.261 79.211-.001 62.512 50.854 113.376 113.365 113.386zm-9.998-206.242v92.862c0 2.81 1.182 5.489 3.257 7.384 1.899 1.734 4.381 2.658 6.941 2.614h92.681c-4.922 47.182-44.116 83.154-92.403 83.381-.155-.007-.311-.011-.466-.011-.154 0-.309.003-.464.011-51.273-.258-92.912-42.054-92.911-93.385 0-48.49 36.042-87.91 83.365-92.856z"></path><path d="m369.051 420.064h-226.102c-5.523 0-10 4.477-10 10 0 5.522 4.477 10 10 10h226.102c5.523 0 10-4.478 10-10 0-5.523-4.477-10-10-10z"></path>
</g></svg></span>
              <h4 class="u-text u-text-2"> SENIOR ASSOCIATE</h4>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-3">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4"><span class="u-icon u-icon-circle u-palette-4-dark-3 u-spacing-22 u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1dd0"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" id="svg-1dd0"><g id="XMLID_2123_"><g id="XMLID_197_"><path id="XMLID_606_" d="m443.129 340.017c6.53-8.539 10.42-19.199 10.42-30.754v-17.713c0-27.977-22.761-50.737-50.737-50.737s-50.737 22.761-50.737 50.737v17.713c0 11.548 3.885 22.201 10.407 30.737h-56.761c13.713-13.117 22.279-31.571 22.279-52v-46.05c0-39.701-32.299-72-72-72s-72 32.299-72 72v46.05c0 20.429 8.566 38.883 22.278 52h-56.761c6.522-8.537 10.407-19.19 10.407-30.737v-17.713c0-27.977-22.761-50.737-50.737-50.737s-50.737 22.76-50.737 50.737v17.713c0 11.556 3.891 22.215 10.42 30.754-38.036.366-68.87 31.408-68.87 69.529v37.87c0 5.522 4.478 10 10 10h80v44.584c0 5.522 4.478 10 10 10h28.001c5.522 0 10-4.478 10-10s-4.478-10-10-10h-18.001v-48.72c0-43.706 33.85-79.63 76.706-82.997l54.35 131.717h-23.061c-5.522 0-10 4.478-10 10s4.478 10 10 10h194.005c5.522 0 10-4.478 10-10v-44.584h80c5.522 0 10-4.478 10-10v-37.87c0-38.121-30.834-69.163-68.871-69.529zm-71.054-30.754v-17.713c0-16.948 13.789-30.737 30.737-30.737s30.737 13.789 30.737 30.737v17.713c0 16.948-13.789 30.737-30.737 30.737s-30.737-13.789-30.737-30.737zm-116.075-119.313c28.673 0 52 23.327 52 52v.1h-.043c-16.55 0-32.622-4.794-46.481-13.862-3.326-2.178-7.625-2.178-10.951 0-13.859 9.068-29.932 13.862-46.481 13.862h-.044v-.1c0-28.673 23.327-52 52-52zm-52 98.05v-25.95h.043c18.306 0 36.137-4.745 51.957-13.776 15.82 9.031 33.651 13.776 51.957 13.776h.043v25.95c0 28.673-23.327 52-52 52s-52-23.327-52-52zm-125.55 3.55c0-16.948 13.789-30.737 30.737-30.737s30.737 13.789 30.737 30.737v17.713c0 16.948-13.789 30.737-30.737 30.737s-30.737-13.789-30.737-30.737zm11.72 145.866h-70.17v-27.87c0-27.319 22.227-49.546 49.546-49.546h62.726c-24.136 17.729-40.316 45.679-42.102 77.416zm118.205-77.416h37.625v24c0 5.522 4.478 10 10 10s10-4.478 10-10v-24h37.625.15l-47.775 115.783-47.775-115.783zm193.625 132h-131.056l54.35-131.716c42.856 3.366 76.706 39.29 76.706 82.996zm90-54.584h-70.17c-1.786-31.737-17.966-59.687-42.102-77.416h62.726c27.319 0 49.546 22.227 49.546 49.546z"></path><path id="XMLID_619_" d="m187.303 77.045 23.87 17.264-9.13 27.892c-2.703 8.259.093 16.896 7.124 22.004 7.03 5.108 16.109 5.099 23.128-.025l23.705-17.303 23.705 17.302c3.516 2.566 7.547 3.85 11.581 3.85 4.018 0 8.038-1.275 11.547-3.824 7.031-5.107 9.827-13.745 7.124-22.005l-9.13-27.891 23.87-17.264c7.034-5.087 9.852-13.711 7.178-21.97-2.674-8.258-10.01-13.594-18.689-13.594h-29.48l-9.012-27.879c-2.673-8.263-10.009-13.602-18.694-13.602s-16.021 5.339-18.693 13.603l-9.012 27.879h-29.48c-8.68 0-16.016 5.336-18.689 13.594-2.675 8.258.143 16.882 7.177 21.969zm48.269-15.564c4.338 0 8.181-2.797 9.516-6.924l10.914-33.755 10.91 33.755c1.335 4.127 5.178 6.924 9.516 6.924l35.657.003-28.893 20.895c-3.523 2.549-4.996 7.082-3.644 11.215l11.054 33.778-28.707-20.953c-1.756-1.282-3.826-1.923-5.896-1.923s-4.14.641-5.896 1.923l-28.71 20.952 11.057-33.777c1.353-4.133-.12-8.666-3.644-11.215l-28.892-20.897h35.658z"></path><path id="XMLID_620_" d="m173 492c-2.63 0-5.21 1.069-7.07 2.93s-2.93 4.44-2.93 7.07 1.069 5.21 2.93 7.069c1.86 1.86 4.44 2.931 7.07 2.931s5.21-1.07 7.069-2.931c1.861-1.859 2.931-4.439 2.931-7.069s-1.07-5.21-2.931-7.07c-1.859-1.861-4.439-2.93-7.069-2.93z"></path>
</g>
</g></svg></span>
              <h4 class="u-text u-text-3">MANAGER</h4>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-4">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5"><span class="u-icon u-icon-circle u-palette-4-dark-3 u-spacing-22 u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 74 74" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b992"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 74 74" id="svg-b992"><path d="m53.08 56.81a1 1 0 0 1 -.714-.3 9.089 9.089 0 0 0 -1.478-1.216 1 1 0 0 1 1.1-1.668 11.164 11.164 0 0 1 1.8 1.484 1 1 0 0 1 -.714 1.7z"></path><path d="m55.9 72h-37.92a1 1 0 0 1 -1-1v-8.25a10.962 10.962 0 0 1 10.95-10.95h17.98a1 1 0 0 1 0 2h-17.98a8.96 8.96 0 0 0 -8.95 8.95v7.25h35.92v-7.25a8.8 8.8 0 0 0 -.242-2.074 1 1 0 1 1 1.942-.476 10.827 10.827 0 0 1 .3 2.546v8.254a1 1 0 0 1 -1 1z"></path><path d="m36.938 47.994a10.48 10.48 0 1 1 10.48-10.48 10.491 10.491 0 0 1 -10.48 10.48zm0-18.96a8.48 8.48 0 1 0 8.48 8.48 8.489 8.489 0 0 0 -8.48-8.48z"></path><path d="m46.68 72h-19.48a1 1 0 0 1 -1-1v-5.708a1 1 0 0 1 2 0v4.708h17.48v-4.708a1 1 0 0 1 2 0v5.708a1 1 0 0 1 -1 1z"></path><path d="m67.481 30.1a1 1 0 0 1 -.465-.115l-5.167-2.716-5.166 2.716a1 1 0 0 1 -1.452-1.054l.987-5.753-4.179-4.078a1 1 0 0 1 .553-1.706l5.777-.84 2.583-5.234a1.041 1.041 0 0 1 1.794 0l2.583 5.234 5.777.84a1 1 0 0 1 .554 1.706l-4.18 4.074.987 5.753a1 1 0 0 1 -.986 1.169zm-5.632-4.961a.991.991 0 0 1 .465.115l3.839 2.018-.734-4.272a1 1 0 0 1 .289-.886l3.105-3.027-4.292-.623a1 1 0 0 1 -.753-.547l-1.919-3.889-1.919 3.885a1 1 0 0 1 -.753.547l-4.292.623 3.106 3.027a1 1 0 0 1 .288.886l-.734 4.274 3.839-2.018a.991.991 0 0 1 .465-.115z"></path><path d="m42.632 21.333a1.008 1.008 0 0 1 -.465-.114l-5.167-2.719-5.167 2.717a1 1 0 0 1 -1.451-1.054l.987-5.754-4.18-4.074a1 1 0 0 1 .554-1.706l5.777-.839 2.58-5.232a1.041 1.041 0 0 1 1.794 0l2.586 5.234 5.777.839a1 1 0 0 1 .554 1.706l-4.18 4.074.987 5.754a1 1 0 0 1 -.986 1.168zm-5.632-4.96a1 1 0 0 1 .465.114l3.835 2.018-.734-4.274a1 1 0 0 1 .288-.885l3.106-3.027-4.288-.619a1 1 0 0 1 -.753-.548l-1.919-3.892-1.919 3.888a1 1 0 0 1 -.753.548l-4.292.623 3.106 3.027a1 1 0 0 1 .288.885l-.73 4.274 3.839-2.018a1 1 0 0 1 .461-.114z"></path><path d="m17.783 30.1a1 1 0 0 1 -.466-.115l-5.166-2.716-5.167 2.714a1 1 0 0 1 -1.451-1.054l.987-5.753-4.18-4.076a1 1 0 0 1 .554-1.7l5.777-.84 2.583-5.234a1.041 1.041 0 0 1 1.794 0l2.583 5.234 5.777.84a1 1 0 0 1 .553 1.706l-4.179 4.074.987 5.753a1 1 0 0 1 -.986 1.169zm-5.632-4.961a.991.991 0 0 1 .465.115l3.839 2.018-.734-4.272a1 1 0 0 1 .288-.886l3.106-3.027-4.292-.623a1 1 0 0 1 -.753-.547l-1.919-3.889-1.919 3.889a1 1 0 0 1 -.753.547l-4.292.623 3.1 3.027a1 1 0 0 1 .294.886l-.734 4.27 3.839-2.018a.991.991 0 0 1 .465-.115z"></path></svg></span>
              <h4 class="u-text u-text-4">SUBJECT MATTER EXPERT</h4>
            </div>
          </div>
        </div>
        <h1 class="u-text u-text-white u-text-5">WHO DO WE STAFF?<span style="font-size: 3.75rem;">
            <span style="font-weight: 700;">
              <span style="font-weight: 400;">
                <span style="font-weight: 700;"></span>
              </span>
            </span>
          </span>
        </h1>
        <ul class="u-align-left u-custom-font u-heading-font u-text u-text-body-alt-color u-text-6">
          <li style="">When we provide resources for a role we ensure that they have the same skillset and experience as the teams with them they will be working.<br>
          </li>
          <li style="">We know that resources are often required to take on multiple roles and integrate their workstream into a larger team effort, matching skills to their peers helps ensure this happens seamlessly.<br>
          </li>
          <li style="">Our resources fall into the four tiers on the right based on their experience however, we ensure that all have demonstrated a successful track record with client engagements in the following areas:<br>
          </li>
        </ul>
        <ul class="u-align-left u-custom-font u-heading-font u-text u-text-white u-text-7">
          <li> Proven knowledge, understanding, and experience with program / project management<br>
          </li>
          <li>Active participation and contribution in client discussions and meetings<br>
          </li>
          <li>Preparation of concise, articulate documents and deliverables primarily in Microsoft PowerPoint, Excel, Project, Visio and Word<br>
          </li>
          <li>Proven ability and success working both independently and collaboratively to address client needs<br>
          </li>
          <li>Ability to work in stressful environments with tight project timelines </li>
        </ul>
      </div>
    </section>
    <section class="u-clearfix u-grey-5 u-section-8" id="carousel_1c89">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">CONTACT US</h2>
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-size-60">
                <div class="u-layout-row">
                  <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-15 u-size-30-md u-layout-cell-1">
                    <div class="u-container-layout u-valign-top u-container-layout-1"><span class="u-icon u-icon-circle u-text-custom-color-3 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-fb01"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-fb01" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" class="u-svg-content"><g><g><path d="M256,0C153.755,0,70.573,83.182,70.573,185.426c0,126.888,165.939,313.167,173.004,321.035    c6.636,7.391,18.222,7.378,24.846,0c7.065-7.868,173.004-194.147,173.004-321.035C441.425,83.182,358.244,0,256,0z M256,278.719    c-51.442,0-93.292-41.851-93.292-93.293S204.559,92.134,256,92.134s93.291,41.851,93.291,93.293S307.441,278.719,256,278.719z"></path>
</g>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></span>
                      <h6 class="u-text u-text-2">OUR MAIN OFFICE</h6>
                      <p class="u-custom-font u-heading-font u-text u-text-3">SoHo 94 New York, NY 1001</p>
                    </div>
                  </div>
                  <div class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-2">
                    <div class="u-container-layout u-valign-top u-container-layout-2"><span class="u-icon u-icon-circle u-text-custom-color-3 u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 384 384" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-cd86"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-cd86" x="0px" y="0px" viewBox="0 0 384 384" style="enable-background:new 0 0 384 384;" xml:space="preserve" class="u-svg-content"><g><g><path d="M353.188,252.052c-23.51,0-46.594-3.677-68.469-10.906c-10.719-3.656-23.896-0.302-30.438,6.417l-43.177,32.594    c-50.073-26.729-80.917-57.563-107.281-107.26l31.635-42.052c8.219-8.208,11.167-20.198,7.635-31.448    c-7.26-21.99-10.948-45.063-10.948-68.583C132.146,13.823,118.323,0,101.333,0H30.813C13.823,0,0,13.823,0,30.813    C0,225.563,158.438,384,353.188,384c16.99,0,30.813-13.823,30.813-30.813v-70.323C384,265.875,370.177,252.052,353.188,252.052z"></path>
</g>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></span>
                      <h6 class="u-align-center-xl u-text u-text-4">phone number</h6>
                      <p class="u-align-center-xl u-custom-font u-heading-font u-text u-text-5">234-9876-5400</p>
                    </div>
                  </div>
                  <div class="u-align-center-md u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-3">
                    <div class="u-container-layout u-valign-top u-container-layout-3"><span class="u-icon u-icon-circle u-text-custom-color-3 u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f872"></use></svg><svg xmlns="http://www.w3.org/2000/svg" id="svg-f872" enable-background="new 0 0 512 512" viewBox="0 0 512 512" class="u-svg-content"><path d="m201 12.714v184.286h267v-184.286c0-7.022-5.692-12.714-12.714-12.714h-241.572c-7.022 0-12.714 5.692-12.714 12.714zm63.89 33.131h70.271c8.284 0 15 6.716 15 15s-6.716 15-15 15h-70.271c-8.284 0-15-6.716-15-15s6.715-15 15-15zm0 75.142h139.22c8.284 0 15 6.716 15 15s-6.716 15-15 15h-139.22c-8.284 0-15-6.716-15-15s6.715-15 15-15z"></path><path d="m472 227h-275c-22.091 0-40 17.909-40 40v205c0 22.091 17.909 40 40 40h275c22.091 0 40-17.909 40-40v-205c0-22.091-17.909-40-40-40zm-207.5 217.5h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm0-60h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm0-60h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm80 120h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm0-60h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm0-60h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm80 120h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm0-60h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm0-60h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15z"></path><path d="m87 227h-47c-22.091 0-40 17.909-40 40v205c0 22.091 17.909 40 40 40h47c22.091 0 40-17.909 40-40v-205c0-22.091-17.909-40-40-40z"></path></svg></span>
                      <h6 class="u-align-center-lg u-align-center-xl u-text u-text-6">fax</h6>
                      <p class="u-align-center-lg u-align-center-xl u-custom-font u-heading-font u-text u-text-7">1-234-567-8900</p>
                    </div>
                  </div>
                  <div class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-right-cell u-size-15 u-size-30-md u-layout-cell-4">
                    <div class="u-container-layout u-valign-top u-container-layout-4"><span class="u-icon u-icon-circle u-text-custom-color-3 u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-d2c4"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-d2c4" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" class="u-svg-content"><g><g><path d="M467,61H45c-6.927,0-13.412,1.703-19.279,4.51L255,294.789l51.389-49.387c0,0,0.004-0.005,0.005-0.007    c0.001-0.002,0.005-0.004,0.005-0.004L486.286,65.514C480.418,62.705,473.929,61,467,61z"></path>
</g>
</g><g><g><path d="M507.496,86.728L338.213,256.002L507.49,425.279c2.807-5.867,4.51-12.352,4.51-19.279V106    C512,99.077,510.301,92.593,507.496,86.728z"></path>
</g>
</g><g><g><path d="M4.51,86.721C1.703,92.588,0,99.073,0,106v300c0,6.923,1.701,13.409,4.506,19.274L173.789,256L4.51,86.721z"></path>
</g>
</g><g><g><path d="M317.002,277.213l-51.396,49.393c-2.93,2.93-6.768,4.395-10.605,4.395s-7.676-1.465-10.605-4.395L195,277.211    L25.714,446.486C31.582,449.295,38.071,451,45,451h422c6.927,0,13.412-1.703,19.279-4.51L317.002,277.213z"></path>
</g>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></span>
                      <h6 class="u-align-center-xl u-text u-text-8">mail</h6>
                      <p class="u-align-center-xl u-text u-text-9">
                        <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-custom-font u-font-roboto u-hover-none u-none u-text-black u-text-hover-palette-4-base u-btn-1" href="mailto:support@rolaren.com">support@rolaren.com</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <style class="u-overlap-style">.u-overlap:not(.u-sticky-scroll) .u-header {
background-color: #ffffff !important
}</style>
    
    
    
    <footer class="u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-footer u-grey-80" id="sec-55c8"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-image u-logo u-image-1" data-image-width="300" data-image-height="145">
          <img src="/public/images/LogoMakr-1fIWAw.png" class="u-logo-image u-logo-image-1" data-image-width="80">
        </a>
        <div class="u-align-left u-social-icons u-spacing-10 u-social-icons-1">
          <a class="u-social-url" target="_blank" href=""><span class="u-icon u-icon-circle u-social-facebook u-social-type-logo u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-e67e"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px" id="svg-e67e"><path d="M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" href=""><span class="u-icon u-icon-circle u-social-twitter u-social-type-logo u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-e249"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px" id="svg-e249"><path d="M92.2,38.2c0,0.8,0,1.6,0,2.3c0,24.3-18.6,52.4-52.6,52.4c-10.6,0.1-20.2-2.9-28.5-8.2 c1.4,0.2,2.9,0.2,4.4,0.2c8.7,0,16.7-2.9,23-7.9c-8.1-0.2-14.9-5.5-17.3-12.8c1.1,0.2,2.4,0.2,3.4,0.2c1.6,0,3.3-0.2,4.8-0.7 c-8.4-1.6-14.9-9.2-14.9-18c0-0.2,0-0.2,0-0.2c2.5,1.4,5.4,2.2,8.4,2.3c-5-3.3-8.3-8.9-8.3-15.4c0-3.4,1-6.5,2.5-9.2 c9.1,11.1,22.7,18.5,38,19.2c-0.2-1.4-0.4-2.8-0.4-4.3c0.1-10,8.3-18.2,18.5-18.2c5.4,0,10.1,2.2,13.5,5.7c4.3-0.8,8.1-2.3,11.7-4.5 c-1.4,4.3-4.3,7.9-8.1,10.1c3.7-0.4,7.3-1.4,10.6-2.9C98.9,32.3,95.7,35.5,92.2,38.2z"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" href=""><span class="u-icon u-icon-circle u-social-instagram u-social-type-logo u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a900"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px" id="svg-a900"><path d="M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z"></path><path d="M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z"></path><path d="M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" href=""><span class="u-icon u-icon-circle u-social-linkedin u-social-type-logo u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-407f"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px" id="svg-407f"><path d="M33.8,96.8H14.5v-58h19.3V96.8z M24.1,30.9L24.1,30.9c-6.6,0-10.8-4.5-10.8-10.1c0-5.8,4.3-10.1,10.9-10.1 S34.9,15,35.1,20.8C35.1,26.4,30.8,30.9,24.1,30.9z M103.3,96.8H84.1v-31c0-7.8-2.7-13.1-9.8-13.1c-5.3,0-8.5,3.6-9.9,7.1 c-0.6,1.3-0.6,3-0.6,4.8V97H44.5c0,0,0.3-52.6,0-58h19.3v8.2c2.6-3.9,7.2-9.6,17.4-9.6c12.7,0,22.2,8.4,22.2,26.1V96.8z"></path></svg></span>
          </a>
        </div>
        <p class="u-align-center-lg u-align-center-md u-align-center-xl u-text u-text-1">Copyright © 2020 ROLAREN LLC. All rights reserved.</p>
      </div></footer>