.u-section-1 {
  background-image: none;
  min-height: 872px;
}

.u-section-1 .u-shape-1 {
  height: 228px;
  margin-top: 269px;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 1140px;
  min-height: 923px;
  margin: -456px auto 1px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 501px;
  height: 544px;
  object-position: 50% 100%;
  margin: 0 auto 0 114px;
}

.u-section-1 .u-group-2 {
  width: 414px;
  min-height: 564px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -483px 114px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-1 .u-form-1 {
  width: 354px;
  margin: 31px 0 0;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-form-group-4 {
  width: 100%;
}

.u-section-1 .u-form-group-5 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
}

.err_msg
{

  /* transition: all 0.25s ease; */
/* position: relative; */
  text-align: left;
  left: 0;
  font-size: 12px;
  font-weight: bold;
  color: red;
  margin-top: 0px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 809px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    width: 512px;
    margin-top: -30px;
    margin-left: 71px;
  }

  .u-section-1 .u-group-2 {
    width: 458px;
    min-height: 554px;
    margin-top: -370px;
    margin-right: 10px;
    margin-bottom: -13px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-form-1 {
    height: 415px;
    width: 398px;
    margin-top: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 693px;
  }

  .u-section-1 .u-shape-1 {
    height: 353px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 454px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 385px;
    margin-top: -445px;
    margin-right: 29px;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 29px;
  }

  .u-section-1 .u-form-1 {
    height: 313px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1005px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 289px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 794px;
    margin-top: -641px;
    margin-bottom: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 483px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-2 {
    width: 446px;
    margin-top: -113px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 869px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 231px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 869px;
    margin-top: -584px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-image-1 {
    height: 433px;
    margin-top: 38px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    width: 304px;
    min-height: 504px;
    margin-top: -166px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
  }
}